<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SMA <sup>+</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Student Section
    </div>

    <!-- Nav Item - Student Menu -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/enroll-student">
            <i class="fa fa-child"></i>
            <span>Enroll Student</span>
        </a>
    </li>

    <!-- Nav Item - Student Details List Menu -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/all-enrolled-students">
            <i class="fa fa-info-circle"></i>
            <span>Students Details List</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Attendance
    </div>

    <!-- Nav Item - Student Attendance List -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/attendance-details">
            <i class="fa fa-fw fa-table"></i>
            <span>Student Attendance List</span></a>
    </li>

    <!-- Nav Item - All Students Attendent Records -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/all-attendance-records">
            <i class="fa fa-fw fa-table"></i>
            <span>All Attendance Records</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Attendance Chart
    </div>

    <!-- Nav Item - Student Attendance List -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/attendance-chart">
            <i class="fa fa-line-chart"></i>
            <span>Student Attendance Chart</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>
<!-- End of Sidebar -->